html {
  font-size: 1.15rem;
}

/* App */
body {
  background-color: #fefae0;
  color: #bc6c25;
}

.app {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

button {
  display: inline-block;
  padding: 10px 22px;
  background-color: #606c38;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 0.8rem;
}

h1 {
  text-align: center;
  color: #283618;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.tab {
  color: #bc6c25;
}

.selected {
  border-bottom: 3px solid #606c38;
  color: #606c38;
}

.tab:hover {
  border-bottom: 3px solid #606c38;
  color: #606c38;
  cursor: pointer;
}

/* Quiz + Options Container */
.quiz-options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

/* Options */
.options{
  width: 25%;
  height: 50%;
}

.option-heading {
  color: #606c38;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.apply {
  display: block;
  margin: 10px 0;
}

.options h2 {
  margin: 8px 0;
}

label input[type="checkbox"]:checked {
  background-color: #bc6c25;
  border-color: #bc6c25;
}

button:disabled {
  cursor: not-allowed;
  color: lightgrey;
}

/* Quiz */
.quiz {
  padding: 15px;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quiz button {
  margin: 0 5px;
}

.kana {
  min-height: 80px;
  font-size: 80px;
  margin: 0;
  color: black;
}

.quiz-input {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  width: 25%;
}

/* Reference */
.reference {
  width: 80%;
  margin: 0 auto;
}

.reference img {
  width: 100%;
  transform: translateY(-50px);
}

/* Mobile */
@media screen and (max-width: 796px) {
  .quiz-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quiz {
    width: 85%;
    gap: 15px;
  }

  .options {
    width: 85%;
  }
}